/* Categories.css */

.categories-container {
  padding: 20px;
  background: rgb(114, 115, 123);
  min-height: 100vh;
 
}

.category-section {
  margin-bottom: 40px;
  text-align: center;
}

.category-section h2{
  color: #fff;
}

.category-slider .slick-slide {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.category-card {
  padding: 10px;
  text-align: center;
  width: 180px;
  margin-top: 25px;
  background-color: rgb(180, 171, 164);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(151, 125, 125, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
}

.category-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.category-card h3 {
  font-size: 1rem;
  color: #0a0a0a;
  margin-top: 5px;
}

.category-card:hover .category-image {
  transform: scale(1.05);
}

.category-slider .slick-prev,
.category-slider .slick-next {
  width: 35px;
  height: 35px;
  color: #fff;
  background: rgb(100, 99, 99);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  top: -15px;
  cursor: pointer;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Position the buttons closely together */
.category-slider .slick-prev {
  left: auto;
  right: 50px; /* Adjust as needed */
  position: absolute;
}

.category-slider .slick-next {
  right: 10px;
  position: absolute;
}


/* Optional hover effect */
.category-slider .slick-prev:hover,
.category-slider .slick-next:hover {
  background: rgb(207, 194, 194);
}
