.checkout-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 7%;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.checkout-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.checkout-item h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 5px;
}

.checkout-item p {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkout-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.checkout-summary h4 {
  margin: 0;
}

.paynow-button {
  width: 20%;
  margin-left:450px;
  padding: 15px;
  background-color: #28a745;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paynow-button:hover:not(:disabled) {
  background-color: #218838;
}

.no-items-message {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}

.checkout-summary {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.checkout-summary h4 {
  margin: 0;
  color: #333;
}

@media screen and (max-width: 768px) {
  .checkout-items {
    gap: 20px;
  }

  .checkout-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .checkout-item img {
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .quantity-container {
    margin-top: 10px;
  }



  .checkout-summary {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
